@model ForumApplication.WEB.Models.TopicViewModel
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/ckeditor/ckeditor.js"></script>
<div class="container-fluid mt-5 ">
    <div class="border-warning border p-2 border rounded" style="background-color:#313131d9;">
        <div class="card bg-light text-dark mt-2 mb-2 ml-2 mr-2">
            <div class="card-header" style="background-color:#fcf8e3">
                <span>@Model.Title</span>
                <br />
                <span class="small">
                    @Html.ActionLink(
                                               $"{Model.UserInfo.UserName}"
                                               , "ShowProfile"
                                               , "Account"
                                               , new { Id = Model.UserInfo.Id }
                                               , null)
                </span>
            </div>

            <div class="card-body bg-light">
                @Html.DisplayFor(x => x.PostViewModel)
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="card-body bg-light">
                    @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
                    {
                        @Html.TextArea("MessageStringContent", new { @id = "editor" })
                        <input type="hidden" value="@User.Identity.GetUserId()" name="UserId" />
                        <input type="hidden" value="@Model.Id" name="TopicId" />

                        <input type="submit" class="btn btn-outline-info mt-2 font-weight-bold" />
                    }
                </div>
            }

        </div>
    </div>
</div>

<script>
    CKEDITOR.replace("editor");
</script>
