@model ForumApplication.WEB.Models.ForumViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forum</title>
</head>
<body>
    <div>
        @Model.Id
        <h2>Title: @Model.Title</h2>
        <p>User Login: @Model.UserName</p>
        <p>User id: @Model.UserId</p>
        <p>Update: @Model.DateUpdate</p>
        <p>Created: @Model.DateCreated</p>
        <p>CountofPosts: @Model.CountOfPosts</p>
        <p>CountOfTopics: @Model.CountOfTopics</p>

    </div>
</body>
</html>
