
@model ForumApplication.WEB.Models.BaseForumContainerViewModel

@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>


    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Creator
                    </th>
                    <th>Title</th>
                    <th>SectionList</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.Title</td>
                <td>
                    <ul>
                        @foreach (var item in Model.NestedItemListInfo)
                        {
                            <li>
                                @item.Title
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        </table>
        <button class="btn btn-outline-warning  d-block m-2" type="button"
                onclick="location.href='@Url.Action("Create","SectionList")'">
            <h5>Add SectionList</h5>
        </button>

        <button class="btn btn-outline-warning  d-block m-2" type="button"
                onclick="location.href='@Url.Action("Update","Forum", new { Id = Model.Id })'">
            <h5>Update Forum Element</h5>
        </button>
    </div>
</body>
</html>
